// @font-face {
//   font-family: "8BIT WONDER Nominal";
//   font-style: normal;
//   font-weight: normal;
//   src: local("8BIT WONDER Nominal"),
//     url("../fonts/8-BIT\ WONDER\ \(2\).woff") format("woff");
// }

.main {
  background: url(/images/crying-peach.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.backgroundOpacity {
  width: 1366px;
  height: 750px;
  background: #0d050538;
}

.container {
  width: 683px;
  height: 520px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
}

.titleOfTheGame {
  background: url(/images/rectangle.png);
  width: 400px;
  height: 140px;
  position: relative;
}
.elipses {
  position: absolute;
}

.elipse3,
.elipse4 {
  bottom: 0;
}
.elipse1,
.elipse3 {
  left: 0;
}

.elipse2,
.elipse4 {
  right: 0;
}

.pictureOfMario {
  width: 400px;
  position: absolute;
  margin-top: 50px;
}

.menu {
  // width: 600px;
  height: 320px;
  display: flex;
  align-items: center;
  // justify-content: initial;
  // flex-direction: column;
  padding-top: 60px;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  li {
    display: flex;
    // text-align: center;
    font-size: 38px;
    margin: 20px;
    cursor: pointer;
    color: white;
    // flex-direction: initial;
    justify-content: center;
    font-family: "8BIT WONDER Nominal";
  }
}

.star1,
.star2 {
  display: flex;
  width: 35px;
  height: 35px;
  order: 1;
  display: none;
  margin-right: 15px;
}

.play {
  order: 2;
  &:hover {
    + .star1 {
      display: flex;
    }
  }
}

.orders {
  order: 2;
  &:hover {
    + .star2 {
      display: flex;
    }
  }
}
