.main {
  background: url(/images/crying-peach.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.backgroundOpacity {
  width: 1366px;
  height: 750px;
  background: #0d050538;
}

.container {
  width: 683px;
  height: 520px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
}

.titleOfTheGame {
  position: relative;
  background: url(/images/rectangle.png);
  width: 442px;
  height: 240px;
}
.elipses {
  position: absolute;
}
.elipse1 {
  top: 0;
  left: 0;
}

.elipse2 {
  top: 0;
  right: 0;
}

.elipse3 {
  bottom: 0;
  left: 0;
}

.elipse4 {
  bottom: 0;
  right: 0;
}

.pictureOfMario {
  width: 440px;
  position: absolute;
  margin-top: 65px;
  height: 65px;
}

.menu {
  // width: 600px;
  height: 320px;
  display: flex;
  align-items: center;
  // justify-content: initial;
  // flex-direction: column;
  padding-top: 60px;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  li {
    display: flex;
    font-family: "8BIT WONDER Nominal";
    margin: 25px;
    text-align: center;
    font-size: 35px;
    cursor: pointer;
    color: white;
    justify-content: center;
    font-family: "8BIT WONDER Nominal";
  }
}

.star1,
.star2 {
  width: 35px;
  height: 35px;
  order: 1;
  display: none;
  margin-right: 20px;
}

.play {
  order: 2;
  &:hover {
    + .star1 {
      display: flex;
    }
  }
}

.orders {
  order: 2;
  &:hover {
    + .star2 {
      display: flex;
    }
  }
}
