.scenario3 {
  background: url(/images/bedroom.png) no-repeat;
  background-size: cover;
}

.disapearText {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-color: #453737;
  opacity: 0.75;
  position: absolute;
  font-size: 30px;
  bottom: 0;
  height: 100px;
  width: 100%;
}

.daisyHere {
  position: absolute;
  margin-top: 150px;
  margin-left: 100px;
  left: 200px;
}

.arrow3 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 75px;
  height: 75px;

  &:hover {
    cursor: pointer;
  }
}
