.scenario3 {
  background-image: url(/images/bedroom.png);
}

.disapearText {
  display: flex;
  justify-content: center;
  // align-items: flex-end;
  // text-align: center;
  color: black;
  font-size: 40px;
  font-weight: bold;
  // position: absolute;
  // margin-top: 500px;
  // height: 100px;
  // width: 100%;
}

.daisyHere {
  display: block;
  justify-content: center;
  margin-top: 150px;
  margin-left: 100px;
}

.arrow3 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 75px;
  height: 75px;
}
