.scenario2 {
  background: url(/images/daisy.png) no-repeat;
  background-size: cover;
}

.daisyText2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 30px;
  height: 80px;
}

.scenario2__text-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  width: 100vw;
  background-color: #453737;
  opacity: 0.75;
  font-family: "SuperMario256";
}
.scenario2__next {
  position: absolute;
  top: 105px;
  right: 730px;
  font-size: 30px;
  color: white;
}

.arrow2 {
  width: 75px;
  height: 75px;
  margin-left: 100px;

  &:hover {
    cursor: pointer;
  }
}
