.scenario3 {
  background: url(/images/bedroom.png) no-repeat;
  background-size: cover;
}

.disapearText {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 30px;
  height: 80px;
}

.daisyHere {
  position: absolute;
  margin-top: 150px;
  margin-left: 100px;
  left: 300px;
  &:hover {
    cursor: pointer;
  }
}

.scenario3__text-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  width: 100%;
  background-color: #453737;
  opacity: 0.75;
  font-family: "SuperMario256";
}
