.game0 {
  position: relative;
  height: 100vh;
}

video {
  width: 100%;
}

.arrowV {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 100px;

  &:hover {
    cursor: pointer;
  }
}
