body {
  width: 1366px;
  height: 750px;
  font-family: system-ui;
  overflow: hidden;
}

@font-face {
  font-family: "8BIT WONDER Nominal";
  font-style: normal;
  font-weight: normal;
  src: local("8BIT WONDER Nominal"),
    url("../fonts/8-BIT\ WONDER\ \(2\).woff") format("woff");
}

@font-face {
  font-family: "SuperMario256";
  src: url("/fonts/SuperMario256.ttf") format("ttf"),
    url("/fonts/SuperMario256.ttf") format("truetype");
}
